.nav-link { 
    color: #344563;
    padding-top: 0px;
    

}

.navbar-brand {
font-weight: 700;
}

#headline {
    background-image: url("images/header-shapes\ mobile.png");
    background-repeat: no-repeat;
    background-size: covers;
}

.project-container li {
list-style-type: none;
display: flex;
justify-content: space-between;
flex-direction: row;
}